@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: white;
  background-color: #050505;
  padding-top: 30px;
  background-image: radial-gradient(circle at top center, #1a1a1a, #050505);
}
